<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
</head>
<body>
    <%- include("./partials/nav") %>

    <div class="container mt-5">
      <form action="/user/signup" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Profile Picture</label>
            <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="profileImageURL">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">UserName</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include("./partials/script") %>
</body>
</html>